.page-header {
    background-color: #E8BDF2;
    margin-top: 1;
    padding: 40px 20px 100px 40px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #A423C4;
    font-size: 50pt;
    text-decoration: none;
}

.content {
    margin-left: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
   float: right;
    color: #A423C4;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;

}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #A423C4;
    float: right;
    font-size: 20pt;
    margin-right: 10px;
}

.post {
    margin-bottom: 70px;
    color: #A423C4;
}

.post h1 a, .post h1 a:visited {
    color: #A423C4;
}
